@model SophImages.ViewModels.AdminFilmIndex
@using SophImages.Helpers
@using SophImages.Models
@section styles{
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/Content/AdminFilmIndex.css")" />
}
<div class="text-align-right-wrapper">
    @Html.ActionLink("Create", "Create")
</div>
<div class="list-table-wrapper">
    <table width="100%">
        <tr class="head-row">
            <th width="200"><label>Name</label></th>
            <th width="160"><label>Status</label></th>
            <th width="200"><label>Director</label></th>
            <th width="150"><label>Year</label></th>
            <th width="270" class="text-align-center-wrapper"><label>Operation</label></th>
        </tr>
        @for (int i = 0; i < Model.Films.Count; i++)
        {
            var item = Model.Films[i];
            <tr class="@(i + 1 == Model.PageSize ? "page-size-last-row" : string.Empty)">
                <td><label>@item.Name</label></td>
                <td><label>@EnumHelper.GetEnumDescription(item.Status, typeof(FilmStatus))</label></td>
                <td><label>@item.Director</label></td>
                <td><label>@item.Year</label></td>
                <td class="text-align-center-wrapper">
                    @Html.ActionLink("Update", "Update", new { id = item.Id, pageIndex = Model.PageIndex })
                    @Html.ActionLink("Publish", "Publish", new { id = item.Id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    @Html.Partial("PagePartialView", Model)
</div>
